*.DS_Store
backup*
public
tmp/
.idea
log/
solr/data
solr/pids
solr/development
solr/development/data
solr/default
*dump.rdb
*nohup.out
.env
bin
assets_manifest.yml
REVISION
.bundle/config
tags
HighSchoolDataDump.txt
.morning_load.sh
.byebug_history

# Ignore application configuration
/config/application.yml
coverage
backup_file_11_12.tar
MONITOR
solr/test/
solr/sunspot/